.cover__link {
	width: 100%;
	display: block;
	text-decoration: none;
	background: rgba(42, 44, 47, 0.3);
	padding: 20.69% 0 20.69% 0;
}

.cover__link:hover {
	background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
	.cover__link {
		max-width: 1024px;
		padding: 19.04% 0 19.04% 0;
	}
}

@media screen and (max-width: 768px) {
	.cover__link {
		max-width: 768px;
		padding: 14.97% 0 14.97% 0;
	}
}

@media screen and (max-width: 320px) {
	.cover__link {
		max-width: 320px;
		padding: 10.3% 0 10.3% 0;
	}
}