.footer__link {
	text-decoration: none;
	max-width: 50px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	color: #FFF;
	padding: 0;
	
	margin: 0 18px 0 0;
}

.footer__link:hover {
	color: rgba(255, 255, 255, 0.8);
}

.footer__link:last-of-type {
	margin: 0;
}

@media screen and (max-width: 320px) {
	.footer__link {
		max-width: 184px;
		font-size: 24px;
		line-height: 1.0;
		margin: 0;
	}
}