.footer__links {
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 320px) {
	.footer__links {
		display: flex;
		max-width: 186px;
		height: calc(24px*5 + 32px*4);
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 48px;
	}
}