@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src:
		url(./inter/InterWeb/Inter-Regular.woff2) format('woff2'),
		url(./inter/InterWeb/Inter-Regular.woff) format('woff'),
		url(./inter/InterDesktop/Inter-Regular.otf) format('otf'),
		url(./inter/InterHintedforWindows/Desktop/Inter-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src:
		url(./inter/InterWeb/Inter-Bold.woff2) format('woff2'),
		url(./inter/InterWeb/Inter-Bold.woff) format('woff'),
		url(./inter/InterDesktop/Inter-Bold.otf) format('otf'),
		url(./inter/InterHintedforWindows/Desktop/Inter-Bold.ttf) format('ttf');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src:
		url(./inter/InterWeb/Inter-Black.woff2) format('woff2'),
		url(./inter/InterWeb/Inter-Black.woff) format('woff'),
		url(./inter/InterDesktop/Inter-Black.otf) format('otf'),
		url(./inter/InterHintedforWindows/Desktop/Inter-Black.ttf) format('ttf');
}